*{
    /* 內减模式 */
    margin: 0;
    padding: 0;
    /* 去掉下划线 */
    text-decoration: none;
    list-style: none;
}

body{
    background-color: #f3f5f7;
    /* background-image: url(https://pic.imgdb.cn/item/65d458b89f345e8d03d63ae9.jpg); */
    /* 花瓣网图片链接 */
    /* background-image: url(https://gd-hbimg.huaban.com/3ecaa479793395562ef06e60993e9cbd6d8d287a4ad5b-oHTtp2); */
    background-image: url(./images/witch.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    width: auto;
    /* 背景图片自适应大小 */
    background-size:cover;
}

/* 标题 */

.center{
    width: 1400px;
    margin: 0 auto;
}

.center h1{
    margin-top: 30px;
    width: 1300px;
    height: 150px;
    font-size: 6ex;
    color: #ffffff;
    text-align: center;

    /* 设置文字间距 */
    letter-spacing: 30px;
}
.center h1 img{
    width: 100px;
    height: 100px;
    margin-bottom: -27px;
}

/* 知识书架 */
.bookslink{
    /* display: inline-block; */
    width: 1400px;
    height: 50px;
    /* background-color: #fff; */
    line-height: 40px;
}

.bookslink img{
    margin-left: 10px;
    width: 45px;
    height: 45px;
    float: left;
    text-align: center;
    color: #f3f5f7;
    font-size: 1ex;
}

/* 搜索框 */
.found{
    text-align: center;
}

#searchEngine {

    /* 搜索引擎css */
    border: 0;
	width: 80px;
	height: 35px;
	font-size: 14px;
    text-align: center;
	outline: none;
	border: 0px solid rgb(105, 105, 105);
    border-radius: 5px;
    
}

#searchQuery{

    /* 搜索框css */
    display: inline-block;
    border: 0;
	width: 350px;
	height: 38px;
	font-size: 14px;
    /* text-align: center; */
	outline: none;
	border: 0px solid rgb(105, 105, 105);
    border-radius: 5px;
}

#bottom搜索{

    /* 搜索按钮css */
    width: 90px;
	height: 38px;
	border: 1px solid rgb(105, 105, 105);
	outline: none;
	cursor: pointer;
	/*   cursor: pointer;   鼠标悬停或点击时button时鼠标变成其他图标  */
	text-align: center;
	background-color: rgba(56, 56, 56, 0.1);
	color: #FFFFFF;
    border-radius: 5px;
}

/* 图标网站 */
.tittle{
    margin: 30px auto;
    width: 1400px;
    height: 100px;
    background-color: rgba(56, 56, 56, 0.3);
    border-radius: 20px;
}

.tittle img{
    width: 40px;
    height: 40px;
}

.tittle a{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    text-align: center;
    width: 50px;
    height: 70px;
    color: #f3f5f7;
    font-size: 1ex;
}

.header{
    float: left;
    position: relative;
    margin: 5px;
    
}

div .links{
    width: 450px;
    height: 180px;
    display: block;
    border: 1px dashed #4b4b4b;
    border-radius: 20px;
    overflow:auto;
}

/* 设置滚动条样式 */
div .links::-webkit-scrollbar{
    width: 1px; /*  设置纵轴（y轴）轴滚动条 */
    height: 1px; /*  设置横轴（x轴）轴滚动条 */
}

h3{
    height: 30px;
    width: 450px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2ex;
    letter-spacing:15px;
}

.links li{
    float: left;
    text-align: center;
}

.links a{
    float: left;
    width: 100px;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    color: rgb(255, 255, 255);
}

/* 网站其他 */
.tabs {
    display: flex;
    overflow-x: auto;
    padding: 8px;
    background-color: hwb(0 29% 71% / 0.3);
    border-radius: 10px;
    color: rgb(255, 255, 255);
}
.tab {
    padding: 3px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px dashed #ff8c8c;
    border-radius: 5px;
    font-size: 13px;
}
.tab:hover {
    background-color: rgb(253, 153, 117);
}
.hidden {
    display: none;
}

.bottom{
    margin: 30px auto;
    width: 1400px;
    height: 100px;
    background-color: rgba(56, 56, 56, 0.3);
    border-radius: 20px;
}

.bottom .booktext{
    width: 1400px;
    height: 100px;
    background-color: rgba(56, 56, 56, 0.3);
    border-radius: 20px;
}
